<h1>Vacancy: <%= @vac.title %>

<% if logged_in_agency? && @is_taken %>
  <h2>(You took this Vacancy)</h2>
<% end %>
</h1><br>

<% if logged_in_agency? && @is_taken %>
  <p><b>Recruiter:</b> <a href="/recruiters/<%= @recruiter.slug %>"><%= @recruiter.username %></p></a>
<% end %>

<p><b>Description:</b> <pre><%= @vac.description %></pre></p>
<p><b>Company:</b> <%= @vac.company %></p>
<p><b>Company Phone Number:</b> <%= @vac.company_phone %></p>
<p><b>Salary:</b> $<%= @vac.salary %></p>
<p><%= @vac.created_at.strftime("Registered on %d/%m/%Y")%></p>

<% if logged_in_agency? %>
  <% if @is_taken%>
    <a href="/vacancies/<%= @vac.id %>/edit" class="btn btn-default">Edit Vacancie's Info</a>
  <% elsif current_user.recruiters.empty? %>
    <p>You don't have any recruiters</p>
  <% else %>
    <a href="/vacancies/<%= @vac.id %>/add" class="btn btn-default">Add Vacancy</a>
  <% end %>
<% end %>

<% if logged_in_recruiter? %>
  <% if !@request_sent %>
    <form action="/requests" method="post">
      <textarea name="description" rows="6" cols="60" placeholder="Description of Request"></textarea><br>
      <input type="hidden" name="vacancy_id" value="<%= @vac.id %>">
      <button type="submit" class="btn btn-default">Send Request to Close Vacancy</button>
    </form>
  <% else %>
    <h3 class="sent">Request to close Vacancy Sent to your Agency!<h3>
  <% end %>
<% end %>
